*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
   
    background: #222E68;
    color: white;
    padding: 16px;
}
.loc p{
  display: contents;
}
.loc img{
  margin-left: 20px;
}
.phone p{
  display: contents;
}
.phone img{
  margin-left: 20px;
  margin-right: 5px;
}
.group img{
  margin-left: 775px;
}
.main-2{
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #04AA6D;
}

.logo{
  margin-left: 40px;
    margin-top: 10px;
}
.navbar{
  margin-right: 70px;
    margin-top: 20px;
}
