*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
   
    background: #222E68;
    color: white;
    padding: 16px;
}
.loc p{
  display: contents;
}
.loc img{
  margin-left: 20px;
}
.phone p{
  display: contents;
}
.phone img{
  margin-left: 20px;
  margin-right: 5px;
}
.group img{
  margin-left: 775px;
}
.main-2{
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active {
  background-color: #04AA6D;
}

.logo{
  margin-left: 40px;
    margin-top: 10px;
}
.navbar{
  margin-right: 70px;
    margin-top: 20px;
}
.back-image{
  text-align: center;
}
.back-image p{
  margin-top: 20px;
}
.bg{
  background: url(../image/room-2269594_1280.jpg);
  height: 499px;
  
}
.text h1{
  padding-top: 160px;
}

.text{
  text-align: center;
}
.text h4{
  display:contents;
}
.text p{
margin-top: 45px;
color: white;
}
.text button{
  margin-top: 40px;
  padding: 10px 20px;
  background: #222E68;
  color: white;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}
.owner{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.owner-pic img{
  height: 325px;
  margin-left: 20px;
}
.department h5{
  margin-top: 10px;
}
.department p{
  margin-top: 8px;
}
.house{
  flex-basis: 20%;
  margin-left:20px;
} 
.bank{
  display: flex;
  margin-top: 20px;
}
.para-1{
  margin-left: 10px;
}
.para-1 p{
  margin-top: 10px;
}
.btton button{
  margin-top: 15px;
    padding: 10px;
    background: #222E68;
    color: white;
    border: none;
    cursor: pointer;
}
.main-1{
  display: flex;
  justify-content: space-between;
}
.founder{
  display: flex;
}
.contact{
  text-align: center;
}
.stratergy{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.first h4{
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.first ul{
  margin-left: 50px;
  margin-top: 20px;
}
.two-cards{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.card h4{
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.card ul{
  margin-left: 50px;
  margin-top: 20px;
}
.comma{
  display: flex;
  margin-top: 70px;
  background: lightgrey;
  justify-content: space-around;
  padding: 20px;
}
.coma{
  width: 400px;
}
.coma h4{
  margin-top: 10px;
}
.coma h2{
  margin-top: 10px;
}
.coma p{
  margin-top: 10px;
}
.coma button{
  margin-top: 10px;
  padding: 10px 20px;
  background: darkblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.comma-end{
  margin-top: 40px;
  background: white;
  width: 350px;
  padding: 10px;
  position: relative;
}
.name{
  display: flex; 
}
.top{
 
  position: absolute;
    top: 0px;
    
    right: -18px;
}
.least{
  background: white;
  margin-top: 40px;
  width: 400px;
  padding: 10px;
}
.backg{
  background-image: url(../image/mid-area-image/sofa-iamge.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.back{
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.sofa{
  color: white;
}
.twelve{
  display: flex;
    background: white;
    height: 50px;
    text-align: center;
    padding: 10px 40px;
    color: darkblue;
    border-radius: 10px;
}
.twelve h4{
  margin-left: 10px;
  color: black;
}
.blog{
  margin-top: 70px;
  text-align: center;
}
.blog h2{
  color: darkblue;
}
.last-part{
  display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.home p{
  margin-top: 10px;
}
.home h4{
  margin-top: 10px;
}
.home button{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: darkblue;
  cursor: pointer;
  color: white;
  border: none;
  margin-top: 10px;
}